.vscode/
.gitignore
testing_area.py
Day_14/__pycache__/Day_14_art.cpython-311.pyc
Day_14/__pycache__/Day_14_Game_Data.cpython-311.pyc
Day_15/__pycache__/Day_15_Coffee_machine_logo.cpython-311.pyc
.gitignore
