.gitignore
.vscode/
testing_area.py
Day_14/__pycache__/Day_14_art.cpython-311.pyc
Day_14/__pycache__/Day_14_Game_Data.cpython-311.pyc
Day_15/__pycache__/Day_15_Coffee_machine_logo.cpython-311.pyc
.gitignore
Day_16/oop-coffee-machine-start/__pycache__/coffee_maker.cpython-311.pyc
Day_16/oop-coffee-machine-start/__pycache__/menu.cpython-311.pyc
Day_16/oop-coffee-machine-start/__pycache__/money_machine.cpython-311.pyc
Day_17_Quize_game/__pycache__/data.cpython-311.pyc
Day_17_Quize_game/__pycache__/main.cpython-311.pyc
Day_17_Quize_game/__pycache__/question_model.cpython-311.pyc
Day_17_Quize_game/__pycache__/quiz_brain.cpython-311.pyc
.gitignore
Day_20_Snake_game/__pycache__/snake.cpython-311.pyc
Day_20_Snake_game/__pycache__/scoreboard.cpython-311.pyc
Day_20_Snake_game/__pycache__/food.cpython-311.pyc
Day_22_Pong_game/__pycache__/ball.cpython-311.pyc
Day_22_Pong_game/__pycache__/main.cpython-311.pyc
Day_22_Pong_game/__pycache__/paddle.cpython-311.pyc
Day_22_Pong_game/__pycache__/scoreboard.cpython-311.pyc
Day_23_Crossroad_game/__pycache__/car_manager.cpython-311.pyc
Day_23_Crossroad_game/__pycache__/player.cpython-311.pyc
Day_23_Crossroad_game/__pycache__/scoreboard.cpython-311.pyc
.gitignore
.gitignore
.vscode/settings.json
Day_25_Pandas_States_game/__pycache__/states_list.cpython-311.pyc
Day_25_Pandas_States_game/__pycache__/states_game.cpython-311.pyc
Day_25_Pandas_States_game/__pycache__/states_data.cpython-311.pyc
Day_25_Pandas_States_game/__pycache__/pop_up.cpython-311.pyc
Day_25_Pandas_States_game/__pycache__/drawing_state_on_map.cpython-311.pyc
.vscode/settings.json
